<!DOCTYPE html>
<html>

  <style>
    .ayylmao{
    display: none;
    }
  </style>
  <head>

    <link rel="shortcut icon" href="{{ url_for('static', filename = 'img/favicon.ico') }}">

    <title>Blog in a Tor</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="../static/styles/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/styles/css/simple-sidebar.css" rel="stylesheet"> <!-- 
										referencing bootstrap--> 

    <link href="../static/styles/css/custom.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media 
	 queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script 
		src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script 
		src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
  </head>

  <body>
    <div id="wrapper">

      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand">
	    <a href="#">Blog in a Tour</a>

	    <!-- Will definitely be logged in -->
	    {% if loggedIn %}
	    
	  <li>
	    <p style="color:#ffffff"> Welcome {{ username }}! </p>
	    <form>
	      <p style="color:#ffffff"><a href="/logout"> Logout </a></p>
	    </form>
	  </li>
	  
	  
	  <li>
	    <form method="POST">
	      <p style="color:#E0FFFF; font-size:20px;">Change Password</p>
	      <p><input type="text" name="current_password" placeholder="Current Password"></p>
	      <p><input type="text" name="reconfirm_password" placeholder="Reconfirm Password"></p>
	      <p><input type="text" name="new_password" placeholder="New_Password"></p>
	      <p><input class="btn btn-default" type="submit" value="change_password" name="Change Password"></p>
	    </form>
	  </li>
	  <li>
	    <form method="POST">
	      <p style="color:#E0FFFF; font-size:20px;">Change Email</p>
	      <p><input type="text" name="current_email" placeholder="Current Email"></p>
	      <p><input type="text" name="new_email" placeholder="new_email"></p>
	      <p><input class="btn btn-default" type="submit" value="change_email" name="change_email"></p>
	    </form>
	  </li>
	  <br>

	  {% endif %}
	  <br> 
        </ul>
      </div>
      <!-- /#sidebar-wrapper -->
      
      <!-- Page Content -->
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
            </div>
          </div>
        </div>
      </div>
      
      <!-- /#page-content-wrapper -->
      {% if loggedIn %}
      <div id="page-content-wrapper">
	<div class="col-lg-12"> 
	  <div class="footer"> 
	    <div id="postarea">
	      <div>
		<textarea rows="5" name="comment" id="postarea"
placeholder="Post">
		</textarea>

		<form method = "POST">

		  <p><input class="btn btn-default" type="submit" value="Comment" name="comment">
		  </p>
		  
		  </form>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      {% else %}
      <!-- /#wrapper -->
      {% endif %}
      <!-- /#wrapper -->
      <!-- jQuery -->
      <script src="../static/styles/js/jquery.js"></script>

      <!-- Bootstrap Core JavaScript -->
      <script src="../static/styles/js/bootstrap.min.js"></script>

      <!-- Menu Toggle Script -->
      <script>
	$("#menu-toggle").click(function(e) {   
	e.preventDefault();
	$("#wrapper").toggleClass("toggled");
	});

  </body>
</html>
