<!DOCTYPE html>
<html>

  <style>
    .ayylmao{
	display: none;
    }
  </style>
  <head>

    <link rel="shortcut icon" href="{{ url_for('static', filename = 'img/favicon.ico') }}">

    <title>Blog in a Tor</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="../static/styles/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/styles/css/simple-sidebar.css" rel="stylesheet"> <!-- referencing bootstrap--> 

    <link href="../static/styles/css/custom.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
  </head>

  <body>
    <div id="wrapper">

      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand">
	    <a href="#">Blog in a Tour</a>

	  <li>
	    <h5>{{status}}</h5>
	  </li>
	    {% if loggedIn %}
	  <li>
	    <p style="color:#ffffff"><a href="user/{{username}}"> Welcome {{ username }}! </a></p>
	  </li>
	    <br>

	    {% else %}
	  <li>
	    <form method="POST">
	      <p><input type="text" name="username" placeholder="Username"></p>
	      <p><input type="password" name="password" placeholder="Password"></p>
	      <p><input class="btn btn-default" type="submit" value="login" name="Submit"></p>
	    </form>
	  </li>
	  <br>
	  <li>
	    <form method="POST">
	      <p><input type="text" name="username" placeholder="Username"></p>
	      <p><input type="password" name="password" placeholder="Password"></p>
	      <p><input type="password" name="confirm_password" placeholder="Confirm password"></p>
	      <p><input type="text" name="email" placeholder="email"></p>
	      <p><input class="btn btn-default" type="submit" value="create" name="Submit"></p>
	  {% endif %}
	  <br> 
	  <li>
	    <a href="#donation" class="btn btn-default" id= "donation">Donate to poverty boys &nbsp;&nbsp;&nbsp;</a>
	    <img src="../static/img/Money.gif" style="LEFT:0px"class="ayylmao"id="money">
	    
	  </li>
        </ul>
      </div>
      <!-- /#sidebar-wrapper -->
      
      <!-- Page Content -->
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <h1>Newest Reviews</h1>
	      <br>
              <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
            </div>
          </div>
        </div>
      </div>
      
      <!-- /#page-content-wrapper -->
      {% if loggedIn %}
      <div id="page-content-wrapper">
	<div class="col-lg-12"> 
	  <div class="footer"> 
	    <div id="postarea">
	      <div>
		<textarea rows="5" name="post" id="postarea" placeholder="Post">
		</textarea>
		<input class="btn btn-default" type="submit" value="Post" name="Update">
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      {% else %}
      <!-- /#wrapper -->
      {% endif %}
    <!-- jQuery -->
    <script src="../static/styles/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/styles/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
      $("#menu-toggle").click(function(e) {   
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
      });
    </script>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
      $.fn.center = function () {
      this.css("position","absolute");
      this.css("top", 560);
      return this;
      }

      $("#donation").on("click", function(){
      $("#money").fadeIn().center()
      setTimeout(function(){
      $("#money").fadeOut()
      }, 7500);
      });
    </script>
    

  </body>
</html>
